* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Body Children */
.container,
main {
  margin: 0 5%;
}

/* Header and Nav */
header .container{
  display: flex;
  justify-content: space-between;
}
header {
  background-color: darkgray;
  color:aquamarine;
}

header h1 {
  width: 33%;
}

header nav {
  width: 66%;
  display: flex;
  justify-content: flex-end;
}

nav li {
  display: inline-block;

}

/* Main Layout */
#about,
#work,
#contact {
  display: flex;
}

#about h2,
#work h2,
#contact h2 {
  width: 33%;
}

main .content-block {
  width: 66%;
}

/* Hero */
.hero-banner{
  background-image: url("../images/02-hero-bg.jpg");
}

/* Portfolio */
#portfolioGrid {
  display: grid;
  grid-template-areas: 
    "featuredPortfolioItem featuredPortfolioItem"
    "firstPortfolioItem secondPortfolioItem"
    "thirdPortfolioItem fourthPortfolioItem";    
}

#featuredPortfolioItem {
  grid-area: featuredPortfolioItem;
  background-image: url("../images/02-portfolio-4.jpg");
  min-height: 50vh;
}

#firstPortfolioItem {
  grid-area: firstPortfolioItem;
  background-image: url("../images/02-portfolio-1.jpg");
}

#secondPortfolioItem {
  grid-area: secondPortfolioItem;
  background-image: url("../images/02-portfolio-2.jpg");
}

#thirdPortfolioItem {
  grid-area: thirdPortfolioItem;
  background-image: url("../images/02-portfolio-3.jpg");
}

#fourthPortfolioItem {
  grid-area: fourthPortfolioItem;
  background-image: url("../images/02-run-buddy.jpg");
}

#firstPortfolioItem,
#secondPortfolioItem,
#thirdPortfolioItem,
#fourthPortfolioItem {
  min-height: 25vh;
}

.portfolioGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  align-content: end;
}

/* Contact */
#contact ul {
  padding: 0;
}

#contact li{
  display: inline-block;
}

