:root{
    --primary-color: aquamarine;
    --secondary-color: rgb(18, 11, 78);
    font-size: 16px;
}

body{
  color: var(--secondary-color);
}

/* Body Children */
.container,
main {
  margin: 0 5%;
}

/* Header and Nav */
header .container{
  display: flex;
  justify-content: space-between;
}

header {
  background-color:gray;
  color: var(--primary-color);
}

header h1 {
  width: 33%;
}

header nav {
  width: 66%;
  display: flex;
  justify-content: flex-end;
}

nav li {
  display: inline-block;
  border-bottom: 2px solid var(--primary-color);
  margin:0 0.2rem;
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
  padding:0 0.6rem;
  font-size: 1.2rem;
}

/* Main Layout */
#about,
#work,
#contact {
  display: flex;
}

#about h2,
#work h2,
#contact h2 {
  width: 33%;
}

main .content-block {
  width: 66%;
}

/* Hero */
.hero-banner{
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-banner,
.hero-banner .container{
  min-height: 25vh;
}

.hero-banner .container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.heroMeta {
  background-color: var(--primary-color);
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 8px;
}

/* Portfolio */
#portfolioGrid {
  display: grid;
  grid-template-areas: 
    "featuredPortfolioItem featuredPortfolioItem"
    "firstPortfolioItem secondPortfolioItem"
    "thirdPortfolioItem fourthPortfolioItem";
  gap: 10px;
}

#featuredPortfolioItem {
  grid-area: featuredPortfolioItem;
  background-image: url("../images/02-portfolio-4.jpg");
  min-height: 50vh;
}

#firstPortfolioItem {
  grid-area: firstPortfolioItem;
  background-image: url("../images/02-portfolio-1.jpg");
}

#secondPortfolioItem {
  grid-area: secondPortfolioItem;
  background-image: url("../images/02-portfolio-2.jpg");
}

#thirdPortfolioItem {
  grid-area: thirdPortfolioItem;
  background-image: url("../images/02-portfolio-3.jpg");
}

#fourthPortfolioItem {
  grid-area: fourthPortfolioItem;
  background-image: url("../images/02-run-buddy.jpg");
}  

#firstPortfolioItem,
#secondPortfolioItem,
#thirdPortfolioItem,
#fourthPortfolioItem {
  min-height: 20vh;
}

.portfolioGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  align-content: end;
  justify-content: flex-start;
  border: 5px solid var(--primary-color);
  cursor: pointer;
  position: relative;
  background-size: cover;
}

.portfolioGridArea::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  opacity: 0.33;
  pointer-events: none;
  transition: opacity 0.5s;
}

.portfolioGridArea:hover::before {
  opacity: 0; 
}

.portfolioMeta {
  background-color: var(--primary-color);
  padding: 0.5rem;
  margin-bottom: 1rem;
  pointer-events: none;
  z-index: 100;
}

/* Contact */
#contact ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

#contact li{
  display: inline-block;

}

#contact a {
  color: var(--secondary-color);
  text-decoration: none;
  border-bottom: 2px solid var(--secondary-color);
}